@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100&display=swap');
html,body{
  font-family: 'Noto Sans SC', sans-serif;
}

figure{
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0;
}

#fixed {
  background-image: url('img/背景图片.png');
  height: 300px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
